.text-align-center{/** 居中样式*/
    text-align: center;
}

.text-align-left{/** 居左样式*/
    text-align: left;
}

.text-align-right{/** 居右样式*/
    text-align: right;
}

// 门户部署  首页iframe样式处理
iframe.gateway-iframe{
    width:100%;
    height:100%;
    border:none;
    overflow:hidden;

    &.hide {
        display: none;
    }

    &.show {
       display: inline-block;
    }
}

.topbar {

    .apply {
        .apply-user {
            .userinfo-model {
                background-color: $topBarUserApplyBgColor;
            }
            .apply-user-info {
                background-color: $topBarUserApplyBgColor;
            }
        }
    }
}

.home-ul {
    li {
        line-height: 30px;
        .title-span {
          .icon-dot {
            background-color: $tjPrimaryColor;
          }
        }
    }
}

.logo {
    width: auto;
    display: inline-block;
    padding: 0px 10px;
    position: absolute;
    left: 50px;
    line-height: 50px;
    height: 50px;

    div {
        height: 50px;
        float: left;
    }

    span {
        color: #0071bc;
        float: left;
        padding-left: 5px;
    }

    &.login-logo {
        bottom: 2px;
        div {
            img {
                height: 50px;
            }
        }
    
        span {
            font-size: 30px;
        }    
    }

    &.topbar-logo {
        bottom: 0;
        div {
            img {
                height: 40px;
            }
        }
    
        span {
            font-size: 27px;
            height: 40px;
            line-height: 40px;
        }  
    }

    
}