body {
    .ui-datatable {
        table {
            border: none;

            .btn {
                @include custom_button();

                &:hover {
                    border: solid 1px $buttonColor !important;
                }
            }
        }

        .ui-datatable-thead {
            > tr {
                border: none;
                height: 44px;
                > th {
                    border: 1px solid #8e8989 !important;
                    background-color: $tableHeadeBgColor;
                    font-weight: $tableHeadeFontWeight;
                    font-size: $tableHeadeFontSize;
                    color: $tableHeadeColor;

                    > span.ui-sortable-column-icon {
                        width: 20px;
                    }
                }
            }
        }

        .ui-datatable-data {
            tr {
                td {
                    line-height: 40px;
                }

                &.ui-datatable-even {
                    .btn {
                        @include custom_button();
                    }
                }

                &.ui-state-highlight {
                    .btn {
                        background-color: $buttonBgColor;
                        color: $buttonColor;
                        .fa {
                            color: $buttonColor;
                        }
                    }

                    &:hover {
                        .btn {
                            @include custom_button();
                        }
                    }
                }

                &:hover {
                    background: $tableHoverRowBgColor;
                    .btn {
                        @include custom_button();
                    }
                }
            }
            tr:last-child {
                border-bottom: 1px solid #ccc;
            }

            &.ui-datatable-hoverable-rows {
                > tr.ui-widget-content:not(.ui-state-highlight):hover {
                    cursor: pointer;
                    background: $tableHoverRowBgColor;
                }
            }
        }

        &.ui-datatable-scrollable {
            thead {
                tr {
                    th {
                        color: $tableHeadeColor;
                        font-size: $tableHeadeFontSize;
                        font-weight: $tableHeadeFontWeight;
                    }
                }
            }
        }
    }

    .ui-picklist {
        .ui-picklist-buttons-cell {
            .ui-button-icon-only {
                .ui-button-icon-left {
                    height: 32px !important;
                    line-height: 34px;
                }
            }
        }
    }

    .ui-paginator {
        .ui-paginator-pages {
            a {
                &:not(.ui-state-active):hover {
                    background-color: $tjPrimaryColor;
                    color: #fff;
                }

                &.ui-state-active {
                    background-color: $accentColor;
                    border: 1px solid $accentColor;
                }
            }
        }
    }
}
