body {
    button {
        @include custom_button();

        &.weaken-query {
            @include custom_button();
        }

        &.weaken-reset {
            @include custom_button();
        }
    }

    .ui-button {
        @include custom_button();
    }

    input.ui-inputtext {
        height: 28px !important;
        line-height: 28px !important;
        border-radius: 3px;
        &:disabled {
            background-color: $disabledBgColor;
            color: $disabledColor;
        }
        &:read-only {
            background-color: $readOnlyBgColor !important;
            color: $readOnlyColor;
        }
    }
    input.ui-inputtext:read-only {
        background-color: #fff !important;
        color: #333;
    }
    textarea.ui-inputtext {
        width: 200px !important;
        height: 80px !important;
        padding: 5px 10px !important;
        white-space: inherit !important;
    }
    textarea.ui-inputtext:disabled {
        background-color: #eaeaea;
        color: #000;
    }

    .ui-dropdown {
        height: 28px !important;
        label.ui-inputtext {
            height: 28px !important;
            line-height: 28px !important;
        }
        .ui-dropdown-trigger {
            height: 28px;
        }
    }

    .ui-inputgroup {
        .ui-button {
            &:not(.ui-datepicker-trigger) {
                background-color: $tjPrimaryColor;
                height: 28px !important;
                border-radius: 0;
                padding: 0 10px;
                line-height: 28px;

                .fa {
                    color: #fff;
                    font-size: 18px;
                    width: 18px;
                    border-radius: 0;
                    line-height: 28px;
                }
            }

            &.ui-datepicker-trigger {
                border: none;
            }

            .ui-button-text {
                color: #fff;
                line-height: 28px !important;
            }
        }
    }

    .ui-calendar {
        input.ui-inputtext {
            background-color: transparent !important;
        }
        .ui-button {
            &.ui-datepicker-trigger {
                border: none;
                height: 28px;
                bottom: 0;
                span.fa-calendar {
                    border-radius: 0;
                    line-height: 24px;
                    top: 0;
                    margin-top: 0;
                }

                &:hover {
                    span.fa-calendar {
                        color: #757575;
                    }
                }
            }
        }
    }
    .ui-datepicker select.ui-datepicker-month {
        width: 50%;
    }
    .ui-datepicker select.ui-datepicker-year {
        width: 45%;
    }
    .ui-tabview .ui-tabview-nav > li .ui-tabview-title {
        font-size: 13px !important;
    }

    .ui-fileupload {
        .ui-fileupload-buttonbar {
            .ui-button {
                @include custom_button();

                &:enabled:hover {
                    color: $buttonHoverColor;
                    background-color: $buttonHoverBgColor;
                    .fa {
                        color: $buttonHoverColor;
                    }
                }
            }
        }

        .ui-fileupload-content {
            .ui-fileupload-row {
                .ui-button {
                    background-color: #007ad9 !important;
                    min-width: 12px !important;
                    height: 34px !important;
                    line-height: 34px !important;
                    width: 2.357em !important;
                    border: 1px solid #007ad9;
                    font-size: 14px;
                    -moz-transition: background-color 0.2s;
                    -o-transition: background-color 0.2s;
                    -webkit-transition: background-color 0.2s;
                    transition: background-color 0.2s;
                    border-radius: 3px;
                    font-family: "Open Sans", "Helvetica Neue", sans-serif;
                    display: inline-block;
                    position: relative;
                    padding: 0;
                    text-decoration: none !important;
                    cursor: pointer;
                    text-align: center;
                    zoom: 1;
                    overflow: visible;
                    box-sizing: border-box;
                }
            }
        }
    }

    .ui-autocomplete {
        .ui-autocomplete-dropdown {
            &.ui-button.ui-button-icon-only {
                color: #333;
                background-color: transparent;
                border-color: transparent;
            }
        }
    }

    .ui-chkbox {
        width: 17px;
        height: 17px;
        .ui-chkbox-box {
            width: 17px;
            height: 17px;
            &.ui-state-active {
                border-color: $tjPrimaryColor;
                background-color: $tjPrimaryColor;
                .fa {
                    font-size: 13px;
                    border-radius: 0;
                    width: 100%;
                    height: 16px;
                    margin-left: 0;
                    margin-top: 0;
                }
            }
        }
    }

    .ui-radiobutton {
        .ui-radiobutton-box {
            width: 17px;
            height: 17px;

            &.ui-state-active {
                border-color: $tjPrimaryColor;
                background-color: transparent;
            }

            .fa-circle {
                background-color: $tjPrimaryColor;
                display: inline-block;
                width: 15px;
                height: 15px;
            }
        }
    }

    .dialog-containe {
        > div {
            > .btn-row {
                .edit-btn {
                    button {
                        margin: 0 10px;
                        @include custom_button();
                    }
                }
            }
        }
    }
    .dialog-containe {
        > div {
            > .edit-row {
                padding: 7px 0 !important;
            }
            > .btn-row {
                .edit-btn {
                    button {
                        margin: 0 10px;
                        @include custom_button();
                    }
                }
            }
        }
    }
}
