body {
    .nav-bar {
        // 顶部菜单条
        &#topbar-menu-div {
            .ui-menubar {
                height: 50px;
                background-color: $topMenuBgColor;
                .ui-menuitem {
                    background: none;
                }
            }
        }
    }

    // 侧边快速导航
    .layout-tabmenu {
        background-color: $sideMenuBgColor;

        .menu-a-div {
            background-color: $sideMenuBgColor;
            .menu-a:hover {
                background: $sideMenuBtnHoverColor;
            }
        }

        .menu-list-div {
            li.menu-list-div-ui-li {
                &:hover {
                    background: $sideMenuItemHoverBgColor;
                }
            }

            .menu-list-div-ui-li:hover {
                .menu-list-div-ui-li-hover {
                    background-color: $sideMenuItemIndexBgColor;
                }
            }
        }
    }

    .ui-menu {
        .ui-menu-list {
            li {
                &.ui-menuitem {
                    &.ui-menuitem-active {
                        > .ui-menuitem-link {
                            background: $topMenuItemHoverBgColor;
                            color: #fff !important;
                        }
                    }
                }
            }
        }

        &.ui-menubar {
            .ui-menubar-root-list {
                > .ui-menuitem {
                    > .ui-menuitem-link {
                        &.ui-state-active {
                            background-color: $topMenuItemHoverBgColor;
                        }
                    }
                }
            }
        }
    }
}
