body {
    .ui-growl {
        top: 30%;
        z-index: 8000 !important;

        > .ui-growl-item-container {
            width: 300px;
            margin: 0;
            margin-bottom: 20px;

            .ui-growl-item {
                padding: 0;
                height: 100%;
                .ui-growl-image {
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    margin-left: 16px;
                    line-height: 18px !important;
                    margin-top: 16px;
                    top: 0;
                    left: 0;
                    &:before {
                        font-size: 20px !important;
                        margin-left: -3px;
                    }

                    &.fa-info-circle {
                        @include material-icon("priority_high");
                        color: black !important;
                    }

                    &.fa-exclamation-circle {
                        @include material-icon("warning");
                        color: black !important;
                    }

                    &.fa-close {
                        @include material-icon("clear");
                        color: black !important;
                    }

                    &.fa-check {
                        @include material-icon("check");
                        color: black !important;
                    }
                }

                .ui-growl-icon-close {
                    width: 20px;
                    height: 12px;
                    line-height: 12px;
                    border-radius: 1.2px;
                    margin-left: 0;
                    margin-top: 12px;
                    margin-right: 12px;
                    top: 0;
                    right: 0;
                }

                .ui-growl-message {
                    margin: 0 27px 0 35px;
                    overflow: hidden;
                    height: 100%;
                    .ui-growl-title {
                        display: block;
                        line-height: 22px;
                        margin-top: 15px;
                        padding-left: 4px;
                        font-size: 15px;
                        font-weight: bold;
                        color: rgb(33, 33, 33);
                    }

                    > p {
                        display: block;
                        font-size: 14px;
                        color: rgb(33, 33, 33);
                        line-height: 22px;
                        margin-bottom: 8px;
                    }
                }
            }

            &.ui-growl-message-error {
                background-color: #fff1f0;
                border-color: #ffa39e;
                width: 280px;
            }

            &.ui-growl-message-info {
                background-color: #f2f8ff;
                border-color: #1989fa;
                width: 280px;
            }

            &.ui-growl-message-warn {
                background-color: #fffbe6;
                border-color: #ffe58f;
                width: 280px;
            }

            &.ui-growl-message-success {
                background-color: #f6ffed;
                border-color: #b7eb8f;
                width: 280px;
            }
        }
    }

    .ui-messages {
        padding: 0;
        position: relative !important;

        ul {
            margin: 0 27px 0 35px;
            overflow: hidden;
            height: 100%;

            .ui-messages-summary {
                display: block;
                padding: 0;
                line-height: 22px;
                margin-top: 15px;
                padding-left: 4px;
                font-size: 15px;
                font-weight: bold;
                color: #333;
            }

            .ui-messages-detail {
                display: block;
                font-size: 14px;
                color: #666;
                line-height: 22px;
                margin-bottom: 8px;
            }
        }

        .ui-messages-close {
            width: 20px;
            height: 12px;
            line-height: 12px;
            border-radius: 1.2px;
            margin-left: 0;
            margin-top: 12px;
            margin-right: 12px;
            top: 0;
            right: 0;
        }

        .ui-messages-icon {
            position: absolute;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            line-height: 18px !important;
            margin: 16px 0 0 16px !important;
            top: 0;
            left: 0;
            &:before {
                font-size: 20px !important;
                margin-left: -3px;
            }

            &.fa-info-circle {
                @include material-icon("info");
            }

            &.fa-exclamation-circle {
                @include material-icon("report");
            }

            &.fa-close {
                @include material-icon("remove_circle");
            }

            &.fa-check {
                @include material-icon("check_circle");
            }
        }
        &.ui-messages-error {
            background-color: #f8b7bd;
        }
        &.ui-messages {
            position: fixed;
            top: 48.5%;
            left: 0;
            display: table-cell;
            vertical-align: middle;
            width: fit-content;
            max-width: 30em;
            right: 0;
            margin: auto;

            &-error {
                background-color: #fff1f0;
                border-color: #ffa39e;
                width: 280px;
                .fa-close {
                    margin: 16px 0 0 16px !important;
                    &:hover {
                        color: #ff3333 !important;
                        background: none;
                    }
                }

                .ui-messages-close {
                    .fa-close {
                        margin: 0 !important;
                    }
                }
            }

            &-info {
                background-color: #f2f8ff;
                border-color: #1989fa;
                width: 280px;
                .ui-messages-close {
                    .fa-close {
                        margin: 0 !important;
                    }
                }
            }

            &-success {
                background-color: #f6ffed;
                border-color: #b7eb8f;
                width: 280px;
                .ui-messages-close {
                    .fa-close {
                        margin: 0 !important;
                    }
                }
            }

            &-warn {
                background-color: #fffbe6;
                border-color: #ffe58f;
                width: 280px;
                .ui-messages-close {
                    .fa-close {
                        margin: 0 !important;
                    }
                }
            }
        }
    }
}
