@media screen and (min-width: 1500px) {
  body {
    .table-main {
      .tab-content-row {
        .ui-inputgroup {
          &.ui-inputdown {
            > p-dropdown {
              .ui-dropdown {
                width: 100px !important;
              }
            }
          }
          > p-dropdown {
            .ui-dropdown {
              width: 152px !important;
            }
          }
        }
      }
    }
    .ui-picklist-target {
      .power-data-p {
        .power-data-span {
          input {
            width: 100px !important;
          }
        }
      }
    }
    .ui-dropdown {
      width: 200px !important;
    }
    .dialog-containe {
      .ui-dropdown {
        width: 100% !important;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  body {
    .table-main {
      .tab-content-row {
        .ui-inputgroup {
          &.ui-inputdown {
            .ui-inputtext {
              width: 91px !important;
            }
            > p-dropdown {
              width: 91px !important;
              .ui-dropdown {
                width: 91px !important;
              }
            }
          }
          .ui-inputtext {
            width: 133px !important;
          }
          > p-dropdown {
            width: 133px !important;
            .ui-dropdown {
              width: 133px !important;
            }
          }
        }
      }
    }
    .ui-picklist-target {
      .power-data-p {
        .power-data-span {
          input {
            width: 100px !important;
          }
        }
      }
    }
    input.ui-inputtext {
      width: 182px !important;
    }
    .ui-multiselect {
      width: 182px !important;
    }
    .dialog-containe {
      div {
        .edit-row {
          input.ui-inputtext {
            width: 100% !important;
          }
        }
      }
    }
    .dialog-containe {
      .ui-dropdown {
        width: 100% !important;
      }
    }
    .ui-dropdown {
      width: 182px !important;
      .ui-dropdown-trigger {
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 1480px) {
  body {
    .table-main {
      .tab-content-row {
        .ui-inputgroup {
          &.ui-inputdown {
            .ui-inputtext {
              width: 86px !important;
            }
            > p-dropdown {
              width: 86px !important;
              .ui-dropdown {
                width: 86px !important;
              }
            }
          }
          .ui-inputtext {
            width: 126px !important;
          }
          > p-dropdown {
            width: 126px !important;
            .ui-dropdown {
              width: 126px !important;
            }
          }
          .ui-button {
            width: 45px !important;
          }
        }
      }
    }
    .ui-picklist-target {
      .power-data-p {
        .power-data-span {
          input {
            width: 100px !important;
          }
        }
      }
    }
    input.ui-inputtext {
      width: 170px !important;
    }
    .ui-multiselect {
      width: 170px !important;
    }
    .dialog-containe {
      div {
        .edit-row {
          input.ui-inputtext {
            width: 100% !important;
          }
        }
      }
    }
    .dialog-containe {
      .ui-dropdown {
        width: 100% !important;
      }
    }
    .ui-dropdown {
      width: 170px !important;
      .ui-dropdown-trigger {
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 1410px) {
  body {
    .table-main {
      .tab-content-row {
        .ui-inputgroup {
          &.ui-inputdown {
            .ui-inputtext {
              width: 81px !important;
            }
            > p-dropdown {
              width: 81px !important;
              .ui-dropdown {
                width: 81px !important;
              }
            }
          }
          .ui-inputtext {
            width: 116px !important;
          }
          > p-dropdown {
            width: 116px !important;
            .ui-dropdown {
              width: 116px !important;
            }
          }
        }
      }
    }
    .ui-picklist-target {
      .power-data-p {
        .power-data-span {
          input {
            width: 100px !important;
          }
        }
      }
    }
    input.ui-inputtext {
      width: 160px !important;
    }
    .ui-multiselect {
      width: 160px !important;
    }
    .dialog-containe {
      div {
        .edit-row {
          input.ui-inputtext {
            width: 100% !important;
          }
        }
      }
    }
    .dialog-containe {
      .ui-dropdown {
        width: 100% !important;
      }
    }
    .ui-dropdown {
      width: 160px !important;
      .ui-dropdown-trigger {
        // right:39px;
      }
    }
  }
}

@media screen and (max-width: 1335px) {
  body {
    .table-main {
      .tab-content-row {
        .ui-inputgroup {
          &.ui-inputdown {
            .ui-inputtext {
              width: 78px !important;
            }
            > p-dropdown {
              width: 78px !important;
              .ui-dropdown {
                width: 78px !important;
              }
            }
          }
          .ui-inputtext {
            width: 112px !important;
          }
          > p-dropdown {
            width: 112px !important;
            .ui-dropdown {
              width: 112px !important;
            }
          }
        }
      }
    }
    .ui-picklist-target {
      .power-data-p {
        .power-data-span {
          input {
            width: 100px !important;
          }
        }
      }
    }
    input.ui-inputtext {
      width: 155px !important;
    }
    .ui-multiselect {
      width: 155px !important;
    }
    .dialog-containe {
      div {
        .edit-row {
          input.ui-inputtext {
            width: 100% !important;
          }
        }
      }
    }
    .ui-dropdown {
      width: 155px !important;
      .ui-dropdown-trigger {
        // right:43px;
      }
    }
  }
}

* {
  text-indent: 0 !important;
}

body {
  .box {
    margin: 10px 24px 0 24px;
  }
  .content {
    width: 100%;
  }
  .box-left-menu {
    width: 15.7%;
    .ui-menu {
      .ui-menu-list {
        li.ui-menuitem {
          .ui-menuitem-link {
            min-height: 40px;
            line-height: 40px;
            .fa-caret-right {
              line-height: 43px;
            }
          }
        }
      }
    }
  }
  .box-left-menu + .content {
    width: 82.5%;
    margin-left: 24px;
  }
  .box-left-menu,
  .box-left-menu + .content {
    float: left;
  }
  .top-table {
    margin-top: 0;
  }
  .top-table + .botton-table {
    margin-top: 50px;
  }
  .botton-table {
    margin-bottom: 30px;
  }
  .table-main {
    border-top: 2px solid #ccc;
  }
  .tab-adaptive-row {
    > div + div + div + div {
      margin-top: 18px;
    }
  }
  .edit-error-msg {
    background: #f8b7bd;
  }
  .tab-main-row {
    width: 80%;
    margin: 10px auto;
    .ui-messages-error {
      position: absolute;
      background-color: #f8b7bd;
      padding-left: 23px;
      padding: 0.429em !important;
      border-radius: 3px !important;
      .ui-icon-error {
        position: relative;
        top: 2px;
        margin-right: 4px;
        height: 100%;
      }
    }
  }
  .tab-content-row {
    &.tab-title-row {
      > div {
        display: block;
        width: 60% !important;
        margin-left: 1.3% !important;
        span {
          width: 16% !important;
          margin-right: 3%;
          vertical-align: top;
        }
        .ui-inputtext {
          width: 70% !important;
        }
        textarea {
          width: 70%;
          outline: none;
        }
      }
    }
  }
  .tab-textarea-row {
    height: 100px;
    > div {
      width: 100% !important;
      > span {
        width: 11% !important;
        margin-right: 1.6% !important;
      }
      > textarea {
        overflow-x: hidden;
        outline: none;
        padding: 0 10px;
      }
    }
  }
  .tab-main-line {
    height: 40px;
    width: 100%;
    margin: 10px auto;
    .ui-radiobutton {
      .ui-radiobutton-box {
        .fa-circle {
          margin-left: 0.03px;
        }
      }
    }
    > div {
      width: 49%;
      display: inline-block;
      text-align: center;
      > div {
        display: inline-block;
        #tab-main-input {
          width: 10% !important;
        }
        #tab-main-span {
          width: 8% !important;
        }
      }
    }
  }
  .table-main {
    .tab-content-row {
      width: 95%;
      > div {
        width: 33%;
        vertical-align: top;
        > span {
          width: 33%;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      > div + div {
        margin-left: 0;
      }
      .ui-inputgroup {
        display: inline-block;
        // width: 60%;
        &.ui-inputdown {
          .ui-inputtext {
            width: 100px;
          }
          > p-dropdown {
            width: 100px;
            margin-left: -4px;
          }
        }
        .ui-inputtext {
          width: 152px;
        }
        > p-dropdown {
          width: 152px !important;
        }
        .ui-button {
          padding: 0;
          vertical-align: top;
          margin-left: -3px;
          width: 50px;
          min-width: 40px;
          border-radius: 3px !important;
        }
      }
    }
  }
  .tab-main-row > div {
    display: inline-block;
    width: 41%;
    margin-top: 9px;
    vertical-align: top;
  }
  .tab-main-row > div + div {
    margin-left: 17%;
  }
  .tab-main-row > div > span {
    vertical-align: sub;
    color: #333;
    display: inline-block;
    width: 35%;
    text-align: right;
    margin-right: 5%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &.multiSelect-span {
      vertical-align: super;
    }
    i {
      color: red;
      padding-right: 7px;
      font-size: 14px;
    }
  }
  .tab-main-row,
  .edit-row {
    .ui-inputtext {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .tab-main-row > div > div {
    display: inline-block;
  }
  .tab-nodata {
    height: 90px;
    line-height: 90px;
    color: #333;
    text-align: center;
    font-size: 15px;
  }
  .more-operations {
    background: #eee;
    height: 38px;
    border-top: 1px solid #ccc;
  }
  .edit-row-content {
    margin: 50px 0 20px 0;
    text-align: center;
    width: 100%;
    button {
      width: 72px !important;
      &:hover {
        background: #3196e2;
      }
    }
    > button + button {
      margin-left: 40px;
    }
  }
  .ui-picklist-buttons-cell {
    .ui-state-default {
      width: 34px !important;
      min-width: 34px;
      padding: 0;
      height: 34px !important;
      background: #fff;
      border: 1px solid #ccc;
      display: inline-block !important;
      margin: 3px 4px !important;
      .ui-button-text {
        display: none;
      }
      .ui-clickable {
        color: #666;
      }
    }
  }
  .dialog-containe {
    position: relative;
    > .ui-g-12 {
      padding: 0;
    }
    div {
      .edit-row {
        padding: 12px 0;
        .edit-text {
          color: #434343;
          font-size: 13px;
          text-align: right;
          padding-right: 37px;
          line-height: 24px;
        }
        textarea.ui-inputtext {
          height: 120px !important;
          overflow: hidden;
          width: 100%;
        }
        .edit-context {
          position: relative;
          line-height: 24px;
          .ui-inputtext {
            width: 100%;
          }
          .edit-error-msg {
            position: absolute;
            width: 50%;
            height: 27px;
            line-height: 20px;
            margin-left: 10px;
            border-radius: 3px !important;
            display: inline-block;
          }
        }
      }
      .btn-row {
        position: absolute;
        width: 100%;
        height: 60px;
        margin-top: 20px;
        .edit-btn {
          margin: 5px auto;
          button {
            width: 100px;
          }
        }
      }
    }
  }
  outline: none !important;
  .ui-inputgroup {
    .ui-button {
      border-radius: 3px;
      height: 24px !important;
      font-size: 12px !important;
      .ui-button-text {
        line-height: 26px;
      }
    }
  }
  textarea.ui-inputtext {
    width: 320px;
    height: 80px !important;
    padding: 5px 10px !important;
    white-space: inherit !important;
  }
  .readonly-input {
    &:read-only {
      background: #e8e8e8;
    }
  }
  .ui-inputtext {
    background: transparent;
    height: 24px !important;
    line-height: 24px !important;
    border: 1px solid #ccc !important;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width: 200px;
    font-size: $inputFontSize;
    border-color: $inputBorderColor;
    border-style: solid;
    @include transition(border-color 0.3s);
    @include border-radius(0px);
    &:focus,
    &.ui-state-focus {
      border-width: 0 0 2px 0;
      border-color: $primaryColor;
      padding-bottom: 0px;
    }
    &:disabled {
      border-bottom: 1px dotted;
    }
    &.ui-widget-content {
      border-width: 1px;
    }
    &.ui-state-error {
      border-color: #e62a10;
    }
    :hover {
      border-color: red;
    }
  }
  .md-inputfield {
    display: block;
    position: relative;
    label {
      color: #999;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 1px;
      transition: 0.3s ease all;
      -moz-transition: 0.3s ease all;
      -webkit-transition: 0.3s ease all;
    }
    input:focus ~ label,
    input.ui-state-filled ~ label,
    .ui-inputwrapper-focus ~ label,
    .ui-inputwrapper-filled ~ label {
      top: -20px;
      font-size: 12px;
      color: $primaryColor;
    }
    .input:-webkit-autofill ~ label {
      top: -20px;
      font-size: 12px;
      color: $primaryColor;
    }
    input.ng-dirty.ng-invalid ~ label {
      color: $invalidInputLabelColor;
    }
    .ui-message {
      &.ui-messages-error {
        background-color: transparent;
        border: 0 none;
        margin: 0px;
        color: #e62a10;
        font-size: 0.75em;
      }
    }
  }
  .ui-material-message {
    &.ui-message {
      &.ui-messages-error {
        background-color: transparent;
        border: 0 none;
        margin: 0px;
        color: #e62a10;
        font-size: 0.75em;
      }
    }
  }
  .ui-listbox {
    min-width: 12.5em;
    background-color: #ffffff;
    @include border-radius($borderRadius);
    &.ui-inputtext {
      padding: 0;
    }
    .ui-listbox-list {
      padding: 0;
    }
    .ui-listbox-item {
      overflow: hidden;
      font-size: $inputOptionFontSize;
      padding: $listItemPadding;
      margin: 0;
      color: $textColor;
      @include rippleitem();
      @include transition(background-color 0.3s);
      @include border-radius(0);
      &.ui-state-highlight {
        background-color: $accentColor;
        color: $accentTextColor;
      }
    }
    &:not(.ui-state-disabled) {
      .ui-listbox-item {
        &:not(.ui-state-highlight):hover {
          @include hover-element();
        }
      }
    }
    .ui-listbox-header {
      @include border-radius(0);
      padding: $inputHeaderPadding;
      .ui-chkbox {
        .ui-chkbox-box {
          border-color: #ffffff;
        }
      }
      .ui-listbox-filter-container {
        .ui-inputtext {
          color: #ffffff;
          padding: 2px 2px 1px 2px;
          padding-left: 1.5em;
          &:focus {
            padding-bottom: 0;
            border-bottom-color: #ffffff;
          }
        }
        .fa {
          top: 0;
          left: 0;
        }
      }
    }
  }
  .qd-LongButton {
    width: 350px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    border: none;
    background: #55b0ff;
    cursor: pointer;
    outline: none;
    &:hover {
      background: #3196e2;
    }
  }
  .dl-LongButton {
    width: 350px;
    height: 36px;
    color: #fff;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    border: none;
    background: #005293;
    cursor: pointer;
    outline: none;
    &:hover {
      background: #003c7b;
    }
  }
  .x-Button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    color: #fff;
    border: none;
    text-align: center;
    background: #55b0ff;
    cursor: pointer;
    outline: none;
    &:hover {
      background: #3196e2;
    }
  }
  .editPassword {
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    background: #005095;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background: #003c7b;
    }
  }
  .switchedRoles {
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    background: #e8e8e8;
    color: #666;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .cancel {
    width: 72px;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    background: #999999;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .adaptiveButton {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    background: #55b0ff;
    outline: none;
  }
  #tabView-content {
    .ui-tabview-nav {
      position: absolute;
      top: -90px;
      width: 100%;
    }
  }
  .special-button {
    text-align: center;
    .ui-fileupload {
      .ui-widget-header {
        background: none;
        > span,
        button {
          background: none;
          border: 1px solid #368ee0;
          padding: 0;
          cursor: pointer;
          transition: all 0.3s;
          &:hover {
            background: #368ee0;
            .ui-button-text {
              color: #fff;
            }
          }
          .ui-button-icon-left {
            display: none;
          }
          .ui-button-text {
            color: #368ee0;
            width: 100%;
          }
        }
      }
    }
  }
  .fun-button {
    width: 100%;
    position: relative;
    margin: 20px 0 20px;
    height: 36px;
    div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 80%;
      text-align: center;
      button:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .weaken-line {
    font-size: 14px;
    text-align: center;
    background: #fff;
    transition: all 0.4s;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    outline: none;
    padding: 0 10px;
  }
  .weaken {
    height: 36px;
    line-height: 36px;
    width: 72px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    text-align: center;
    background: #fff;
    transition: all 0.4s;
  }
  .weaken-reset {
    border: 1px solid #666;
    color: #666;
    &:hover {
      background: #666;
      color: #fff;
    }
    &:disabled {
      background: #ccc;
      border: none;
      color: #fff !important;
      cursor: default;
    }
  }
  .weaken-query,
  .weaken-line {
    border: 1px solid #368ee0;
    color: #368ee0;
    &:hover {
      background: #368ee0;
      color: #fff;
    }
    &:disabled {
      background: #ccc;
      border: none;
      color: #fff !important;
      cursor: default;
    }
  }
  .menubar {
    background: #55b0ff !important;
  }
  .icon-Button {
    width: 120px !important;
    .ui-button-icon-left {
      font-size: 16px !important;
      line-height: 19px;
      left: 23px;
    }
    .ui-button-text {
      margin-left: 20px;
    }
  }
  .ui-button,
  .ui-datepicker-buttonpane > button {
    overflow: hidden;
    background-color: $primaryDarkColor;
    color: $primaryTextColor;
    font-size: $buttonFontSize;
    padding: 0;
    height: 36px;
    min-width: 72px;
    padding: 0 20px; // margin-top:1px;
    // text-align: center;
    line-height: 36px;
    border: 0 none; // -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    // -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    // box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    @include transition(background-color 0.3s); // &:enabled:not(:focus):hover {
    //     background-color: $primaryDarkColor;
    // }
    .ui-clickable {
      height: 100% !important;
    }
    &:focus {
      outline: 0 none;
      background-color: lighten($primaryColor, 10%);
    }
    &:disabled {
      background: #ccc;
      color: #757575;
    }
    .ui-button-text {
      padding: 0;
      line-height: 36px;
    }
    .fa {
      color: $primaryTextColor;
    }
    &.ui-button-icon-only {
      @include border-radius(50%);
      width: 2.5em;
      .ui-button-text {
        display: none;
      }
      .fa {
        margin-left: -0.5em;
        line-height: 17px;
      }
    }
    &.ui-button-text-icon-left {
      padding-left: 2.5em;
    }
    &.ui-button-text-icon-right {
      padding-right: 2.5em;
    }
    &.secondary {
      background-color: $accentColor;
      color: $accentTextColor;
      &:enabled:not(:focus):hover {
        background-color: $accentDarkColor;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten($accentColor, 10%);
      }
    }
    &.blue-grey-btn {
      background-color: #607d8b;
      &:enabled:not(:focus):hover {
        background-color: #37474f;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#607d8b, 10%);
      }
    }
    &.cyan-btn {
      background-color: #00bcd4;
      &:enabled:not(:focus):hover {
        background-color: #00838f;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#00bcd4, 10%);
      }
    }
    &.teal-btn {
      background-color: #009688;
      &:enabled:not(:focus):hover {
        background-color: #00695c;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#009688, 10%);
      }
    }
    &.red-btn {
      background-color: #f44336;
      &:enabled:not(:focus):hover {
        background-color: #c62828;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#f44336, 10%);
      }
    }
    &.green-btn {
      background-color: #4caf50;
      &:enabled:not(:focus):hover {
        background-color: #2e7d32;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#4caf50, 10%);
      }
    }
    &.deep-orange-btn {
      background-color: #ff5722;
      &:enabled:not(:focus):hover {
        background-color: #d84315;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#ff5722, 10%);
      }
    }
    &.purple-btn {
      background-color: #673ab7;
      &:enabled:not(:focus):hover {
        background-color: #4527a0;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#673ab7, 10%);
      }
    }
    &.pink-btn {
      background-color: #e91e63;
      &:enabled:not(:focus):hover {
        background-color: #ad1457;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#e91e63, 10%);
      }
    }
    &.amber-btn {
      background-color: #ffc107;
      color: #212121;
      &:enabled:not(:focus):hover {
        background-color: #ff8f00;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#ffc107, 10%);
      }
    }
    &.orange-btn {
      background-color: #ff9800;
      &:enabled:not(:focus):hover {
        background-color: #ef6c00;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#ff9800, 10%);
      }
    }
    &.brown-btn {
      background-color: #795548;
      &:enabled:not(:focus):hover {
        background-color: #4e342e;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#795548, 10%);
      }
    }
    &.indigo-btn {
      background-color: #3f51b5;
      &:enabled:not(:focus):hover {
        background-color: #283593;
      }
      &:focus {
        outline: 0 none;
        background-color: lighten(#3f51b5, 10%);
      }
    }
    &.flat {
      @include no-shadow();
    }
  }
  .ui-togglebutton {
    &:not(.ui-state-active):not(.ui-state-disabled):hover {
      background-color: $primaryDarkColor;
    }
    &.ui-state-active {
      background-color: $accentColor;
      color: $accentTextColor;
    }
  }
  .ui-splitbutton {
    @include border-radius($borderRadius + 1); // > .ui-button {
    //     @include no-shadow();
    // &:active {
    //     background-color: lighten($primaryColor,10%);
    // }
    // }
    .ui-splitbutton-menubutton {
      height: 2.25em;
      @include border-radius-left(0);
      @include border-radius-right($borderRadius);
      .ui-button-icon-left {
        color: #8ea9bf;
        font-size: 22px !important;
        text-align: center;
        line-height: 27px;
        width: 25px;
        height: 20px;
      }
    }
  }
  .ui-fluid {
    .ui-splitbutton {
      .ui-button:first-child {
        width: calc(100% - 2em);
      }
    }
  }
  .ui-fluid {
    .ui-message {
      padding: 0.429em !important;
    }
  }
  .ui-chkbox {
    display: inline-block;
    vertical-align: middle;
    line-height: 12px;
    width: 12px;
    height: 12px;
    cursor: default;
    margin-right: 5px;
    .ui-chkbox-box {
      border: 1px solid $checkboxBorderColor;
      width: 12px;
      height: 12px;
      border-radius: 0 !important;
      @include transition(background-color 0.3s);
      .ui-chkbox-icon {
        margin-left: -1px;
        margin-top: -1px;
      }
      &.ui-state-active {
        border-color: $primaryDarkColor;
        background-color: $primaryDarkColor;
        .fa {
          color: $primaryTextColor;
          font-size: 13px;
        }
      }
      &.ui-state-focus {
        border-color: $primaryColor;
        @include content-shadow();
        @include transition(box-shadow 0.3s, background-color 0.3s);
      }
    }
  }
  .ui-radiobutton {
    position: relative;
    margin: 0 0.25em 0 0;
    vertical-align: middle;
    .ui-radiobutton-box {
      border: 1px solid $radioButtonBorderColor;
      width: 12px;
      height: 12px;
      @include transition(box-shadow 0.3s);
      @include border-radius(50%);
      &.ui-state-focus {
        border-color: $primaryColor;
        @include content-shadow();
        @include transition(box-shadow 0.3s, background-color 0.3s);
      }
      &.ui-state-active {
        border-color: $primaryDarkColor;
        background-color: transparent;
      }
      .ui-radiobutton-icon {
        display: block;
        box-sizing: border-box;
        @include border-radius(50%);
        font-size: 1em;
        transition: -webkit-transform ease 0.28s;
        transition: transform ease 0.28s;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      .fa-circle {
        background-color: $primaryDarkColor;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        margin-left: 0.1px;
        margin-top: -0.18px;
      }
    }
  }
  .ui-autocomplete-panel {
    @include border-radius(0);
    &.ui-shadow {
      @include overlay-input-shadow();
    }
    .ui-autocomplete-list {
      padding: 0;
      .ui-autocomplete-list-item {
        @include transition(background-color 0.3s);
        font-size: $inputOptionFontSize;
        padding: $listItemPadding;
        @include border-radius(0);
        color: $textColor;
        .ui-autocomplete-query {
          font-weight: 700;
        }
        &.ui-state-highlight {
          color: $accentTextColor;
        }
      }
      .ui-autocomplete-group {
        padding: $listItemPadding;
      }
    }
  }
  .ui-autocomplete {
    .ui-autocomplete-dropdown {
      &.ui-button.ui-button-icon-only {
        background-color: transparent;
        @include no-shadow();
        height: 1.5em;
        width: 1.5em;
        padding: 0;
        right: 0;
        bottom: 0;
        margin-right: 0;
        position: absolute;
        .ui-button-text {
          display: none;
          text-indent: 0 !important;
        }
        .fa {
          color: $textSecondaryColor;
        }
      }
    }
    &.ui-autocomplete-multiple {
      .ui-autocomplete-multiple-container {
        &.ui-inputtext {
          box-sizing: border-box;
          padding: 2px 2px 1px 2px;
        }
        &.ui-state-focus {
          padding-bottom: 0;
        }
        &.ui-state-disabled {
          border-bottom: 1px dotted;
        }
      }
      .ui-autocomplete-input-token {
        float: none;
        display: inline-block;
        margin: 0 1px;
        vertical-align: middle;
        > input {
          padding: 0;
          font-size: $fontSize;
          margin: 0;
          vertical-align: bottom;
        }
      }
      .ui-autocomplete-token {
        display: inline-block;
        float: none;
        vertical-align: middle;
        font-size: 1em;
        .ui-autocomplete-token-label {
          display: inline-block;
          vertical-align: middle;
        }
      }
      .ui-autocomplete-dropdown.ui-button.ui-button-icon-only {
        bottom: 3px;
      }
    }
  }
  .ui-fluid {
    .ui-autocomplete {
      &.ui-autocomplete-dd {
        > .ui-inputtext {
          width: 100%;
        }
      }
    }
  }
  .ui-dropdown {
    width: 200px;
    height: 25px !important;
    text-align: center; // border: 1px solid $inputBorderColor;
    border: none;
    box-sizing: border-box; // &:hover{
    //     border: 1px solid #ddefff;
    // }
    @include border-radius(0);
    @include transition(border-color 0.3s);
    .ui-dropdown-trigger {
      height: 23px;
      width: 24px;
      border-left: 1px solid #ccc !important;
      margin-top: 0;
      padding: 0; // top: 0;
      // margin-right: 0;
      .fa {
        color: $textSecondaryColor;
        margin-top: 1px;
        margin-left: 0;
        display: block;
        height: 22px !important;
        width: 22px !important;
        line-height: 23px !important;
        text-align: center !important;
      }
    }
    .ui-dropdown-label {
      &.ui-inputtext {
        font: $inputFontSize "Roboto", "Helvetica Neue", sans-serif;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 23px;
      }
    }
    &.ui-state-focus {
      // border-bottom: 2px solid $primaryColor;
      .ui-dropdown-label {
        padding-bottom: 0;
      }
    }
  }
  .ui-dropdown-panel {
    height: 24px !important;
    margin-top: 5px;
    border-radius: 3px;
    z-index: 1 !important;
    background: #f8f8f8;
    @include border-radius(0);
    .ui-dropdown-items-wrapper {
      overflow-x: hidden;
      max-width: 260px;
      width: 100%;
    }
    .ui-dropdown-list {
      padding: 0;
      background: #f8f8f8;
      border: 1px solid $contentBorderColor;
      border-radius: 4px;
    }
    .ui-dropdown-list > li {
      color: #424242;
      padding: 0;
      width: 100.5%;
      height: 30px;
      &:hover {
        color: #636669;
        background: #e7f1fb;
      }
      > span {
        height: 100%;
        line-height: 30px;
        display: inline-block;
        width: 100%;
        padding-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .ui-dropdown-list > li:first-child {
      margin-top: 3px;
    }
    .ui-dropdown-list > li:last-child {
      margin-bottom: 3px;
    }
    .ui-dropdown-item {
      margin: 0;
      text-indent: 0;
      font-size: $inputOptionFontSize;
      padding: 4.5px 10px;
      background: #f8f8f8;
      color: $textColor;
      @include transition(background-color 0.3s);
      @include border-radius(0);
      &:hover {
        @include hover-element();
      }
      &.ui-state-highlight {
        background-color: $accentColor !important;
        color: $accentTextColor;
        width: 101.5%;
        margin-left: -0.5%;
      }
    }
    &.ui-shadow {
      @include overlay-input-shadowNew();
    }
    .ui-dropdown-filter-container {
      display: block;
      border-bottom: 1px solid $inputBorderColor;
      background-color: $primaryColor;
      padding: $inputHeaderPadding;
      input {
        color: #ffffff;
        &:focus {
          border-bottom-color: #ffffff;
        }
      }
      .fa {
        top: 14px;
        right: 30px;
        font-size: 20px !important;
        color: #ffffff;
      }
    }
  }
  .ui-multiselect {
    .ui-multiselect-panel {
      z-index: 1 !important;
    }
    border: 1px solid #ccc;
    height: 25px;
    width: 200px;
    box-sizing: border-box;
    @include border-radius(0);
    @include transition(border-color 0.3s);
    .ui-multiselect-label-container {
      height: 100%;
      line-height: 25px;
      .ui-multiselect-label {
        padding: 0px 2px 0px 10px;
      }
    }
    .ui-multiselect-trigger {
      height: 100%;
      width: 25px;
      padding: 0;
      bottom: 0;
      border-left: 1px solid #ccc;
      .fa {
        color: $textSecondaryColor;
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        line-height: 25px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .ui-multiselect-panel.ui-widget {
    padding: 0;
    width: 100%;
    @include border-radius(0);
    @include overlay-input-shadow();
    min-width: 12.5em;
    .ui-multiselect-header {
      @include border-radius(0);
      padding: $inputHeaderPadding;
      position: relative;
      background: none;
      .ui-chkbox {
        float: none;
        margin: 0 0.5em 0 -0.125em;
        position: static;
        display: none;
        .ui-chkbox-box {
          border-color: #ffffff;
          .ui-chkbox-icon {
            border-color: #ffffff;
            font-size: 13px !important;
          }
          &.ui-state-active {
            .ui-chkbox-icon {
              border-color: #ffffff;
            }
          }
          &.ui-state-focus {
            background-color: $primaryLightColor;
            @include transition(background-color 0.3s);
          }
        }
      }
      .ui-multiselect-filter-container {
        width: 86%;
        display: inline-block;
        vertical-align: middle;
        border-radius: 13px;
        border: none;
        float: none;
        margin-left: 0;
        background: #e8e8e8;
        .fa {
          top: 0;
          left: 80%;
          width: 20px;
          line-height: 25px;
          font-size: 21px;
          color: #6b6b6b;
        }
        .ui-inputtext {
          color: #ffffff;
          padding-left: 1.5em;
          width: 100%;
          box-sizing: border-box;
          border: none !important;
          &:focus {
            border-bottom-color: #ffffff;
          }
        }
      }
      .ui-multiselect-close {
        position: absolute;
        right: 0.5em;
        top: 6px;
        height: 1.5em;
        width: 1.5em;
        span {
          color: #666;
          font-weight: bold;
          font-size: 18px;
        }
        &:hover {
          background-color: #fff;
          @include border-radius(50%);
          @include transition(background-color 0.3s);
          span {
            color: #368ee0;
          }
        }
      }
    }
    .ui-multiselect-item {
      font-size: $inputOptionFontSize;
      padding: $listItemPadding;
      color: $textColor;
      @include border-radius(0);
      &:not(.ui-state-highlight):hover {
        // @include hover-element();
        background: #e7f1fb;
      }
      &.ui-state-highlight {
        color: $accentTextColor;
      }
    }
  }
  .ui-spinner {
    .ui-spinner-button {
      width: 1em;
      height: 0.75em;
      padding: 0;
      margin-right: 0.25em;
      background-color: transparent;
      color: $textColor;
      z-index: auto;
      @include no-shadow();
      .fa-triangle-1-n {
        color: $textColor;
      }
      .fa-triangle-1-s {
        color: $textColor;
      }
      .fa {
        top: 0px;
        height: 0.5em;
        color: $textSecondaryColor;
      }
      &:enabled:hover,
      &:active {
        background-color: #ffffff;
      }
    }
    .ui-spinner-up {
      .fa {
        top: 0.25em;
      }
    }
    .ui-spinner-down {
      .fa {
        top: 0.167em;
      }
    }
    .ui-spinner-input {
      padding-right: 30px;
    }
  }
  .ui-fluid {
    .ui-spinner {
      .ui-spinner-button {
        width: 1em;
        height: 0.75em;
        .fa {
          left: auto;
        }
      }
    }
  }
  .ui-inputswitch {
    height: 18px;
    width: 32px !important;
    border-radius: 9px;
    overflow: visible;
    background: rgba(0, 0, 0, 0.4);
    border-color: rgb(158, 158, 158);
    @include border-radius(8px);
    .ui-inputswitch-handle {
      top: 1px;
      background-color: #ffffff;
      @include border-radius(50%);
      @include transition(background-color 0.3s);
      width: 16px !important;
      height: 16px !important;
      border-radius: 100%;
      -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px,
        rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
      -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px,
        rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px,
        rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
    }
    .ui-inputswitch-on {
      visibility: hidden;
    }
    .ui-inputswitch-off,
    .ui-inputswitch-on {
      span {
        visibility: hidden;
      }
    }
    &.ui-inputswitch-checked {
      background-color: #368ee0;
      border-color: $accentLightColor;
      .ui-inputswitch-handle {
        background-color: $accentColor;
        color: $accentTextColor;
        right: -1px;
      }
    }
  }
  .ui-slider {
    .ui-slider-handle {
      background-color: $accentColor;
      color: $accentTextColor;
      @include border-radius(50%);
      width: 1.25em;
      height: 1.25em;
      transform: scale(0.7);
      @include transition(all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1));
      &.ui-state-focus {
        transform: scale(1);
      }
      &:focus {
        outline: 0 none;
      }
    }
    &.ui-slider-horizontal {
      height: 2px;
      border: 0 none;
      background-color: $inputBorderColor;
      .ui-slider-handle {
        top: -0.55em;
      }
    }
    &.ui-slider-vertical {
      width: 2px;
      border: 0 none;
      background-color: $inputBorderColor;
      .ui-slider-handle {
        left: -0.55em;
      }
    }
    .ui-slider-range {
      background-color: $accentColor;
      color: $accentTextColor;
    }
    &:not(.ui-state-disabled) {
      .ui-slider-handle {
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
  .ui-calendar {
    .ui-datepicker-trigger {
      bottom: 2px;
      right: 0;
      background-color: transparent;
      color: $textColor;
      height: 1.5em;
      width: 1.5em;
      @include no-shadow();
      @include border-radius(0);
      .fa {
        color: $textSecondaryColor;
        font-size: 18px !important;
        top: 11px;
        left: 61px;
      }
      &:enabled:hover {
        background-color: transparent;
      }
    }
  }
  .ui-fluid {
    .ui-calendar.ui-calendar-w-btn {
      .ui-inputtext {
        width: 100%;
      }
    }
  }
  .ui-datepicker {
    padding: 0;
    width: 17.5em;
    z-index: 1 !important;
    &.ui-shadow {
      @include overlay-input-shadow();
    }
    .ui-datepicker-header {
      padding: $inputHeaderPadding;
      font-size: $inputHeaderFontSize;
      background: $primaryDarkColor;
      border-color: $primaryDarkColor;
      @include border-radius-top(2px);
      @include border-radius-bottom(0);
      .ui-datepicker-prev {
        cursor: pointer;
        top: 0.4em;
        left: 0.2em;
        margin-left: 0 !important;
        @include border-radius(50%);
        @include material-icon("keyboard_arrow_left");
        @include transition(background-color 0.3s);
        color: #ffffff;
        .fa {
          display: none;
        }
        &:hover {
          background-color: $primaryLightColor;
        }
      }
      .ui-datepicker-next {
        cursor: pointer;
        top: 0.4em;
        right: 0.2em;
        @include material-icon("keyboard_arrow_right");
        @include border-radius(50%);
        @include transition(background-color 0.3s);
        color: #ffffff;
        .fa {
          display: none;
        }
        &:hover {
          background-color: $primaryLightColor;
        }
      }
      select.ui-datepicker-month,
      select.ui-datepicker-year {
        font-size: $fontSize - 2;
      }
    }
    table {
      table-layout: fixed;
      width: 100.5%;
      border-spacing: 0;
      border-collapse: collapse;
      font-size: $fontSize - 2;
    }
    thead {
      tr {
        color: #ffffff;
        background: $primaryColor;
      }
    }
    tbody {
      .ui-state-disabled {
        .ui-state-default {
          color: #999;
          &:hover {
            background: none !important;
            color: #999 !important;
          }
        }
      }
      td {
        padding: 0.25em 0.125em;
        box-sizing: border-box;
        &.ui-datepicker-today {
          a,
          span {
            // color: #ffffff ; // background: lighten($primaryColor,20%);
            &.ui-state-active {
              color: #ffffff;
              background-color: $accentColor;
            }
            .ui-state-highlight {
              color: #368ee0 !important;
              background: #ccc;
            }
          }
        }
        a,
        span {
          padding: 0;
          margin: 0;
          text-align: center;
          color: $textColor;
          display: inline-block;
          height: 2.25em;
          width: 2.25em;
          margin-left: 3.5px;
          line-height: 2.3em;
          @include border-radius(50%);
          &.ui-state-active {
            color: #ffffff;
            background-color: $accentColor;
            color: $accentTextColor;
          }
          &:not(.ui-state-active):not(.ui-state-highlight):hover {
            @include hover-element();
          }
        }
      }
    }
    .ui-timepicker {
      @include border-radius(0);
      > div {
        a {
          height: 1.5em;
          > span {
            display: inline-block;
            margin-bottom: 0.25em;
          }
          .fa {
            &.fa-angle-up {
              @include rotate(0);
              @include material-icon("keyboard_arrow_up");
            }
            &.fa-angle-down {
              @include rotate(0);
              @include material-icon("keyboard_arrow_down");
            }
          }
        }
      }
    }
    .ui-datepicker-buttonbar {
      > div {
        width: 60%;
        margin: auto;
        > div {
          width: 50%;
          display: inline-block;
          .ui-button-secondary {
            background-color: #fff;
            border: 1px solid #ccc;
            color: #333;
            min-width: 48px;
            height: 24px;
            padding: 0;
            border-radius: 5px !important;
            &:hover {
              background: #368ee0;
              border: none;
              .ui-button-text {
                color: #fff;
              }
            }
            .ui-button-text {
              height: 24px;
              line-height: 24px;
              font-size: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }
  #ui-datepicker-div {
    @include overlay-input-shadow();
  }
  .ui-rating {
    min-height: 1.5em;
    .fa-ban {
      @include material-icon("cancel");
      color: $textSecondaryColor;
    }
    .fa-star {
      @include material-icon("star");
      color: $textSecondaryColor;
    }
    .fa-star-o {
      @include material-icon("star_border");
      color: $textSecondaryColor;
    }
  }
  .ui-chips {
    > ul.ui-inputtext {
      padding: 2px 2px 1px 2px;
      &.ui-state-focus {
        padding-bottom: 0;
      }
      .ui-chips-input-token {
        padding-bottom: 2px;
        > input {
          padding: 0;
          font-size: $fontSize;
          margin: 0;
          vertical-align: bottom;
        }
        input.ui-state-disabled {
          width: 0;
        }
      }
      .ui-chips-token {
        display: inline-block;
        float: none;
        vertical-align: middle;
        font-size: 1em;
        .ui-chips-token-label {
          display: inline-block;
          vertical-align: middle;
        }
      }
      &.ui-state-disabled {
        border-bottom: 1px dotted;
      }
    }
  }
  .ui-password-panel {
    &.ui-shadow {
      @include overlay-input-shadow();
    }
  }
  .ui-fileupload {
    .ui-fileupload-buttonbar {
      padding: $headerPadding;
      span.fa {
        width: 25px;
        height: 25px;
        border-radius: 0;
        top: 14px;
      }
      .fa-arrowreturnthick-1-n {
        @include icon_override("file_upload");
      }
      .ui-button {
        background-color: $accentColor;
        &:enabled:hover {
          background-color: $accentDarkColor;
        }
      }
    }
    .ui-fileupload-content {
      .ui-messages-error {
        .fa {
          color: #ffffff;
        }
      }
    }
  }
  .ui-editor-container {
    .ui-editor-toolbar {
      background-color: #e8e8e8;
    }
    .ql-picker.ql-expanded {
      .ql-picker-label {
        color: #444444;
      }
    }
  }
  /* Validation */
  .ui-inputtext.ng-dirty.ng-invalid,
  p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
  p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
  p-calendar.ng-dirty.ng-invalid > .ui-inputtext,
  p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
  p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
  p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
  p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
  p-listbox.ng-dirty.ng-invalid .ui-inputtext,
  p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
  p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
  p-selectbutton.ng-dirty.ng-invalid .ui-button,
  p-togglebutton.ng-dirty.ng-invalid .ui-button {
    border-bottom-color: $invalidInputBorderColor;
  }
}

@media (max-width: 640px) {
  body {
    .ui-buttonset {
      > .ui-button {
        display: block;
        @include border-radius(0);
        &:first-child {
          @include border-radius-top($borderRadius);
        }
        &:last-child {
          @include border-radius-bottom($borderRadius);
        }
      }
    }
    .ui-splitbutton {
      > .ui-button {
        display: inline-block;
        &:first-child {
          @include border-radius-top(0);
        }
        &:last-child {
          @include border-radius-bottom(0);
        }
      }
    }
  }
}
.ui-g {
  .ui-message {
    position: absolute !important;
    height: 20px !important;
    border-radius: 3px !important;
    .ui-icon-error {
      top: 2px;
      position: relative;
      margin-right: 4px;
    }
  }
}
