body {
  .ui-panel {
    padding: 0;
    width: 100%;
    margin: auto;
    &:hover {
      ::-webkit-scrollbar {
        background-color: rgba(0, 0, 0, 0.2);
        ::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.7);
        }
      }
    }
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px;
      background-color: none;
      cursor: pointer;
      border-radius: 5px;
    }
    ::-webkit-scrollbar-thumb {
      height: 10px;
      width: 10px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      cursor: pointer;
      &:active {
        background: #368ee0;
      }
    }
    .ui-panel-titlebar {
      height: 40px;
      padding: 0;
      clear: both;
      border: 0 none;
      @include border-radius-top($borderRadius - 1);
      @include border-radius-bottom(0);
      .ui-panel-operations {
        display: inline-block;
        float: right;
        margin-top: 7px;
        margin-right: 40px;
        height: 30px;
        .clearfloat {
          clear: both;
        }
        .a-button {
          a {
            display: inline-block;
            height: 100%;
            line-height: 30px;
            color: #434343;
            vertical-align: super;
          }
          &:hover {
            a {
              color: #fff;
            }
          }
        }
        > .ui-button {
          height: 30px;
          background: #eee;
          color: #333;
          vertical-align: bottom;
          &:hover {
            background: #368ee0;
            color: white;
          }
          .ui-button-text {
            line-height: 30px !important;
          }
        }
      }
      .ui-panel-title {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
      .ui-panel-titlebar-icon {
        position: absolute;
        right: 30px;
        width: 1.5em;
        height: 1.5em;
        color: #ffffff;
        background: #55b0ff;
        margin: 12px;
        @include transition(background-color 0.3s);
        @include border-radius(50%);
        .fa-minus,
        .fa-plus {
          line-height: 19px;
        }
        &:hover {
          background-color: #fff;
          .fa-minus,
          .fa-plus {
            color: #55b0ff;
          }
        }
      }
    }
    .ui-panel-content {
      height: 100%;
      position: relative;
      border: 2px solid #eeeeee !important;
      box-sizing: border-box;
      padding: 0;
      .more-operations {
        border-top: 2px solid #ccc;
        background: #fff;
        .ui-button {
          background: #fff;
          color: #333;
          &:hover {
            background: #368ee0;
            color: #fff;
          }
        }
      }
    }
    .ui-panel-footer {
      padding: $headerPadding;
      border: 0 none;
      border-top: 1px solid $dividerColor;
      margin: 0;
    }
  }
  .ui-fieldset {
    padding: $contentPadding;
    .ui-fieldset-legend {
      padding: $headerPadding;
      padding-left: 0.125em;
      padding-right: 0.5em;
      color: $primaryColor;
      .ui-fieldset-toggler {
        padding: 0.5em;
        height: 2em;
        width: 2em;
        background-color: $primaryColor;
        color: #ffffff;
        font-size: 1.5em;
        @include border-radius(50%);
        @include transition(background-color 0.3s);
        margin-right: 0.5em;
        @include content-shadow();
        &:hover {
          background-color: $primaryDarkColor;
        }
      }
      &.ui-state-focus {
        background-color: transparent;
      }
    }
  }
  .ui-accordion {
    .ui-accordion-header {
      background-color: $primaryColor;
      padding: 0;
      color: #ffffff;
      font-size: $headerFontSize;
      @include transition(background-color 0.3s);
      > a {
        padding: $headerPadding;
        padding-left: 2.5em;
        color: #ffffff;
      }
      &:not(.ui-state-active):not(.ui-state-disabled):hover {
        background-color: $primaryDarkColor;
      }
      &.ui-state-active {
        background-color: $accentColor;
        color: $accentTextColor;
        @include border-radius-bottom(0);
        > a {
          color: $accentTextColor;
        }
      }
      .fa-caret-right {
        margin-top: -0.5em;
        font-size: 1.5em;
      }
      .fa-caret-down {
        margin-top: -0.5em;
        font-size: 1.5em;
      }
    }
    .ui-accordion-content {
      padding: $contentPadding;
      line-height: $lineHeight;
    }
  }
  .ui-toolbar {
    background-color: $primaryDarkColor;
    @include content-shadow();
    padding: 0.625em;
  }
  .ui-tabview {
    padding: 0;
    .ui-tabview-nav {
      background-color: #ffffff;
      border: 0 none;
      @include border-radius(0);
      > li {
        padding: 0;
        @include transition(border-color 0.3s);
        > a {
          padding: $headerPadding;
          &:focus {
            outline: 0 none;
          }
        }
        > .fa-close {
          margin: 0.325em 0 0 0;
          @include transition(color 0.3s);
          color: $textSecondaryColor;
        }
        .ui-tabview-left-icon,
        .ui-tabview-right-icon {
          color: $textSecondaryColor;
          display: inline-block;
          vertical-align: middle;
        }
        .ui-tabview-title {
          line-height: 1.5em;
          vertical-align: middle;
        }
        &.ui-state-default {
          a {
            color: $textSecondaryColor;
          }
        }
        &:not(.ui-state-active):not(.ui-state-disabled):hover {
          background-color: #ffffff;
        }
        &.ui-state-active {
          background-color: #ffffff;
          border-color: $accentColor;
          border-style: solid;
          a {
            color: $primaryColor;
          }
          > .fa-close {
            color: $accentColor;
          }
        }
        &.ui-tabview-outline {
          outline: 0 none;
          border-color: $accentLightColor;
        }
      }
    }
    .ui-tabview-panels {
      .ui-panel-titlebar {
        // display: none;
        display: block;
      }
      .ui-panel-content {
        border: none !important;
      }
    }
    .ui-tabview-panel {
      padding: 0.625em 0;
      > .ui-g {
        > .ui-g-12:first-child {
          background: #e8e8e8;
          height: 46px;
          padding: 0;
          margin-bottom: 20px;
          > .ui-g-4 {
            width: 100%;
            height: 100%;
            padding: 0;
            > p {
              font-size: 16px;
              font-weight: bold;
              height: 100%;
              margin: 0;
              padding-left: 15px;
              line-height: 46px;
            }
          }
          .span {
            margin-top: 4px !important;
          }
        }
      }
      .content-row {
        .ng-untouched {
          .ui-radiobutton-box {
            .fa-circle {
              margin-left: 0.03px;
            }
          }
        }
      }
    }
    &.ui-tabview-top {
      > .ui-tabview-nav {
        padding: 0;
        margin: 0;
        @include border-radius-top(4px);
        border-bottom: 1px solid $dividerColor;
        > li {
          border: 1px solid #e8e8e8;
          border-bottom: none;
          background: #e8e8e8;
          &.ui-state-active {
            background: #fff;
            > a {
              cursor: pointer !important;
            }
          }
        }
        > li + li {
          margin-left: 9px;
        }
      }
    }
    &.ui-tabview-bottom {
      > .ui-tabview-nav {
        padding: 0;
        margin: 0;
        @include border-radius-bottom(4px);
        border-top: 1px solid $dividerColor;
        > li {
          border-width: 2px 0 0 0;
        }
      }
    }
    &.ui-tabview-left {
      > .ui-tabview-nav {
        padding: 0;
        margin: 0;
        @include border-radius-left($borderRadius + 1);
        border-right: 1px solid $dividerColor;
        > li {
          box-sizing: border-box;
          border-width: 0 2px 0 0;
          > a {
            width: 100%;
            box-sizing: border-box;
          }
        }
      }
    }
    &.ui-tabview-right {
      > .ui-tabview-nav {
        padding: 0;
        @include border-radius-right($borderRadius + 1);
        border-left: 1px solid $dividerColor;
        > li {
          box-sizing: border-box;
          border-width: 0 0 0 2px;
          > a {
            width: 100%;
            box-sizing: border-box;
          }
          &.ui-state-active {
            > a {
              padding-left: 0.875em;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  body {
    .ui-toolbar {
      .ui-toolbar-group-right {
        margin-top: 1em;
      }
    }
  }
}
