.main-login {
  height: 100%;

  .login-title {
    height: 15%;
    position: relative;
  }

  .main-content {
    background-image: url($loginBgImg);
    width: 100%;
    height: 70%;
    background-size: cover;
    position: relative;
  }

  &-warp {
    width: 320px;
    height: 340px;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 6px;
    padding: 48px 24px;

    .main-login-title {
      .title-text {
        text-align: center;
      }

      margin-bottom: 36px;
    }

    .login-row {
      margin-bottom: 24px;
      line-height: 36px;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .input-group {
        display: flex;
        border: 1px solid #d5d5d5;
        height: 36px;
        border-radius: 3px;
        width: 100%;

        input {
          padding-left: 10px;
        }
      }

      .msg {
        width: 100%;
        font-size: 12px;
        padding-left: 20px;
        line-height: 1.5;
        padding: 6px 0 6px 20px;

        &.success {
          color: #00b900;
        }

        &.error {
          color: red;
        }
      }

      .verify-code {
        width: 35%;
        text-align: center;
        cursor: pointer;
        border: 1px solid #d5d5d5;
        border-radius: 6px;

        .contain {
          font-size: 14px;
          height: 36px;

          .code_img {
            width: 100%;
            height: 100%;
          }
        }

        .btn {
          font-size: 14px;
        }
      }

      span {
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 36px;
        margin: 0 12px;
        background-repeat: no-repeat;
        background-position: center center;

        &.fa {
          font-size: 24px;
          line-height: 36px;

          &.right {
            color: #00b900;
          }
        }
      }

      input {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        outline: none;
        border: none;
        background-color: transparent;
        width: 100%;
      }

      .group-left {
        width: 60%;
      }

      &.error {
        margin-bottom: 0;
      }
    }

    .btn-row {
      margin-top: 36px;
      height: 48px;

      button {
        &:hover {
          background-color: #55b0ff;
        }

        cursor: pointer;
        width: 100%;
        height: 36px;
        text-align: center;
        line-height: 36px;
        font-size: 16px;
        color: #fff;
        border-radius: 6px;
        border: none;
        background-color: #5680d4;
        letter-spacing:6px;

        &.left {
          float: left;
        }

        &.right {
          float: right;
        }
      }
    }
  }
}