@import '../sass/variables';
@import '../customSass/variables';

$primaryLightEndColor:#3B8EC8;
$primaryTextHoverColor:#ffffff;
$activeMenuItemTextColor:#00355E;
$darkActiveMenuItemTextColor:#00355E;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;
$primaryColor: #368ee0;
$primaryDarkColor: #55b0ff;
$primaryBackColor: #ffffff;
$hoverTextColor: #fff;
$primaryLightColor: #55b0ff;
$primaryTextColor: #FFFFFF;
$accentColor: #368ee0;
$accentDarkColor: #FFA000;
$accentLightColor: #FFECB3;
$accentTextColor: #cccccc;

@import '../sass/theme/_theme';
@import '../sass/layout/_layout';
@import '../customSass/theme/_theme';
@import '../customSass/layout/_layout';