@import '../sass/variables';
@import '../customSass/variables';

$primaryDarkColor: #455A64;
$primaryBackColor: #ffffff;
$hoverTextColor: #fff;
$primaryLightColor: #689F38;
$primaryTextColor: #ffffff;
$accentDarkColor: #689F38;
$accentLightColor: #AED581;
$primaryColor:#607D8B;
$primaryLightEndColor:#3B8EC8;
$primaryTextHoverColor:#ECEFF1;
$accentColor:#8BC34A;
$accentTextColor:#ffffff;
$activeMenuItemTextColor:#8BC34A;
$darkActiveMenuItemTextColor:#8BC34A;
$darkMenuItemTextColor:#dee0e3;
$darkMenuItemInactiveTextColor:#757575;
$darkMenuItemHoverBgColor:#545454;
$darkSidemenuBgColor:#343434;
$darkMenuBgColor:#424242;


// 主品牌色
$tjPrimaryColor: #689F38;

// 顶部导航背景色
$topMenuBgColor: #9ad26a;
$topMenuItemHoverBgColor: $tjPrimaryColor !important;
//顶部用户显示信息背景色
$topBarUserApplyBgColor: #689F38;

// 侧边导航背景色
$sideMenuBgColor: $tjPrimaryColor; 
// 侧边导航鼠标移动上去后的背景色
$sideMenuItemHoverBgColor: $accentColor;
// 侧边导航鼠标移动上去后 前面竖条颜色
$sideMenuItemIndexBgColor: #fcb814;
// 侧边快捷导航顶部按钮 鼠标移上时候背景色
$sideMenuBtnHoverColor: $accentColor;

// 按钮样式
$buttonBgColor: #fff;
$buttonColor: $tjPrimaryColor;
$buttonBorderColor: $tjPrimaryColor;
$buttonHoverBgColor: $tjPrimaryColor;
$buttonHoverColor: #fff;
$buttonDisabledBgColor: $disabledBgColor;
$buttonDisabledColor: $disabledColor;

// 字体
$fontFamily: '苹方', 'San Francisco';

// 表格head背景色
$tableHeadeBgColor: rgba(73, 148, 8, 0.4);
$tableHoverRowBgColor: rgba(73, 148, 8, 0.2);
$tableHeadeColor: #333;
$tableHeadeFontSize: 14px;
$tableHeadeFontWeight: bold;

// h1-h6字体大小
$h1FontSize: 24px;
$h2FontSize: 22px;
$h3FontSize: 18px;
$h4FontSize: 16px;
$h5FontSize: 14px;
$h6FontSize: 12px;


@import '../sass/theme/_theme';
@import '../customSass/theme/_theme';
@import '../sass/layout/_layout';
@import '../customSass/layout/_layout';