body {
    * {
        font-family: $fontFamily;
    }

    h1 {
        font-size: $h1FontSize;
    }

    h2 {
        font-size: $h2FontSize;
    }

    h3 {
        font-size: $h3FontSize;
    }

    h4 {
        font-size: $h4FontSize;
    }

    h5 {
        font-size: $h5FontSize;
    }

    h6 {
        font-size: $h6FontSize;
    }
    
}