// 主品牌色
$tjPrimaryColor: #005098;
// 表单禁用背景色
$disabledBgColor: #b3b3b3;
// 表单禁用字体颜色
$disabledColor: #333;
// 表单只读背景色
$readOnlyBgColor: #e4e4e4;
// 表单只读字体颜色
$readOnlyColor: #333;

// 登录页面背景图
$loginBgImg: '/assets/img/bg.png';

// 登录页面底部版权所有背景色
$loginFootBgColor: rgba(0, 0, 0, .4);

// 顶部导航背景色
$topMenuBgColor: #62b0e3;
// 顶部导航鼠标移动上去后得背景色
$topMenuItemHoverBgColor: $tjPrimaryColor !important;
//顶部用户显示信息背景色
$topBarUserApplyBgColor: #62b0e3;

// 侧边导航背景色
$sideMenuBgColor: $tjPrimaryColor; 
// 侧边导航鼠标移动上去后的背景色
$sideMenuItemHoverBgColor: #62b0e3;
// 侧边导航鼠标移动上去后 前面竖条颜色
$sideMenuItemIndexBgColor: #fcb814;
// 侧边快捷导航顶部按钮 鼠标移上时候背景色
$sideMenuBtnHoverColor: #187ad2;

// 按钮样式
$buttonBgColor: #fff;
$buttonColor: $tjPrimaryColor;
$buttonBorderColor: $tjPrimaryColor;
$buttonHoverBgColor: $tjPrimaryColor;
$buttonHoverColor: #fff;
$buttonDisabledBgColor: $disabledBgColor;
$buttonDisabledColor: $disabledColor;

// 字体
$fontFamily: '苹方', 'San Francisco';

// 表格head背景色
$tableHeadeBgColor: #B6D6F1;
$tableHoverRowBgColor: #e7f1fb;
$tableHeadeColor: #333;
$tableHeadeFontSize: 14px;
$tableHeadeFontWeight: bold;

// h1-h6字体大小
$h1FontSize: 24px;
$h2FontSize: 22px;
$h3FontSize: 18px;
$h4FontSize: 16px;
$h5FontSize: 14px;
$h6FontSize: 12px;
